<div class="results-wrapper">
  <ul id="resultImages" class="clean-list">
    <% @search_results.each do | img_url |%>
      <li class="images image-frame"><img src="<%= img_url %>" alt=""></li>
    <% end %>
  </ul>
</div>
